################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/EightQueen/bin/Debug/net8.0
/EightQueen/obj
/.vs/EightQueen
